body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.zero-margin {
    margin: 0;
}

.btn-small {
    height: 24px;
    line-height: 24px;
    padding: 0 0.5rem;
}

.tariff-row-card {
    margin: 10px auto 0;
    width: 100%;
    /*height: 80px;*/

    padding: 15px;
    /*border-radius: 20%;*/
}

.lang-block {
    background-color: #ee6e73;
    position: fixed;
    top: 70px;
    left: 10px;
}

#lang-select {
    background-color: #ee6e73;
}

.icon_style {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.messages-block {
    overflow-y: scroll;
    overflow-x: hidden;
    max-width: 100%;
    margin: 0 10%;
    height: 400px;
    padding: 5px 25px;
    /*width: 80%;*/
    border: 2px solid #ee6e73;
    border-radius: 10px;
}

.message-block {
    margin: auto 0;
    padding: 10px;
    border-radius: 10px;
    max-width: 90%;
    white-space: normal;
}

.message-right {
    background-color: #7ebaff;
}

.message-left {
    background-color: #ffdb51;
}

.word-wrap {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.small-margin {
    margin: 1% !important;
}

.small-padding {
    padding: 10px !important;
}

.message-under-time {
    font-size: 8px;
    margin-top: -15px
}