<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>Provideroo</display-name>

    <filter>
        <filter-name>Access filter</filter-name>
        <filter-class>com.d_cherkashyn.epam.filter.AccessFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Access filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>Localization filter</filter-name>
        <filter-class>com.d_cherkashyn.epam.filter.LocalizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Localization filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>Url rewrite filter</filter-name>
        <filter-class>com.d_cherkashyn.epam.filter.UrlRewriteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Url rewrite filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--REST api url binding-->
    <servlet>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>


    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <listener>
        <listener-class>com.d_cherkashyn.epam.listener.ContextListener</listener-class>
    </listener>

    <listener>
        <listener-class>com.d_cherkashyn.epam.listener.SessionListener</listener-class>
    </listener>

    <context-param>
        <param-name>db_type</param-name>
        <param-value>MYSQL</param-value>
    </context-param>

    <context-param>
        <param-name>default_locale</param-name>
        <param-value>ru_RU</param-value>
    </context-param>

    <context-param>
        <param-name>chat_websocket_url</param-name>
        <param-value>localhost:8081/socket/chat/</param-value>
    </context-param>

    <error-page>
        <error-code>404</error-code>
        <location>/jsp/general/error_404.jsp</location>
    </error-page>

    <!--<error-page>-->
        <!--<error-code>500</error-code>-->
        <!--<location>/jsp/general/error_500.jsp</location>-->
    <!--</error-page>-->

    <session-config>
        <session-timeout>600</session-timeout>
    </session-config>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>

</web-app>
